*                                  @altinn/team-core
AppsMonitoring/**                  @altinn/team-apps
.github/workflows/apps-monitoring* @altinn/team-apps
RepoCleanup/**                     @altinn/team-studio
